<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Fullname:</b>
  <%= @user.fullname %>
</p>

<p>
  <b>Upvotes:</b>
  <%= @user.upvotes %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
